.airy-header {
  line-height: 1.5; // Adjust line height for more space between lines
  margin-bottom: 1rem; // Add space below the header
}

.airy-subheader {
  line-height: 1.4;
  margin-bottom: 0.75rem; // Slightly less space below subheaders
}

.airy-text {
  line-height: 1.6; // Increase the line height for paragraph text
  letter-spacing: 0.5px; // Slightly increase spacing between letters
  margin-bottom: 1rem; // Add space below the paragraph
}

// .home-section {
//   position: relative;
//   height: 30vh; // Third of the viewport height
//   overflow: hidden;
// }
// .home-background-image {
//   position: absolute;
//   top: 0;
//   left: 0;
//   width: 100%;
//   height: 30%;
//   background-image: url('../public/tma1.jpeg'); // Path to your image
//   background-size: cover; // Cover the entire div
//   background-position: center; // Center the image
//   z-index: -2; // Behind the gradient
// }

// .home-background-overlay {
//   background-color: transparent;
//   background-image: linear-gradient(
//     90deg,
//     #007bff 0%,
//     #6610f2 100%
//   ); // Example colors
//   opacity: 0.61;
//   transition: background 0.3s, border-radius 0.3s, opacity 0.3s;
//   height: 30%;
//   width: 100%;
//   top: 0;
//   left: 0;
//   position: absolute;
//   z-index: -1; // Ensure it's behind content
// }

// // Ensure the container is relative to position the overlay correctly
// .container-relative {
//   position: relative;
// }
