#root {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
#root main {
  flex: 1 0 auto; /* This tells the browser to make the main content grow and shrink as needed, but not to shrink less than its base size */
}
#root footer {
  flex-shrink: 0; /* This tells the browser that the footer should not shrink if there is not enough space */
}

.footer {
  background-color: #f8f9fa; // Example background color
  padding: 20px 0;
  .footer-item {
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    svg {
      margin-right: 10px;
    }
  }
}

.icon-link {
  color: inherit; // This will make the icon inherit the color from its parent.
  text-decoration: none; // This will remove the underline from the link.

  &:hover,
  &:focus {
    color: inherit; // Keep the color the same even when hovered or focused.
    text-decoration: none; // Remove underline on hover or focus as well.
  }
}
